<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :company %><br>
    <%= f.collection_select(:company_id, Company.all, :id, :name_and_location, prompt: "") %>
  </div>
  <div class="field"><%= link_to "Don't see your company here?", new_company_path %></div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "input-field" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, :class => "input-field" %>
  </div>
  <div class="field">
    <%= f.label "Current?" %><br>
    <%= f.check_box :current, :class => "input-field" %>
  </div>
  <div class="field">
    <%= f.label :started_on %><br>
    <%= f.date_field :started_on, :class => "input-field" %>
  </div>
  <div class="field">
    <%= f.label :ended_on %><br>
    <%= f.date_field :ended_on, :class => "input-field" %>
  </div>
  <div class="actions">
    <%= f.submit :class=> "btn", :value => 'Save New Position'%>
  </div>
<% end %>
