<div class="container-fluid">
<div class="chat-box">

<h4 class="chat-heading"> Chat About This Event </h4>



<% commentable.comments.each do |comment| %>
  <div class="row">
    <div class="col-sm-1 ">
      <div class="thumbnail">
        <% if comment.user.uploaded_file_file_name.nil? %>
          <%=link_to image_tag("default_pic.png", size: "50x50"), "/users/#{comment.user_id}" %>
        <% else %>
          <%=link_to image_tag(comment.user.uploaded_file(:thumb)),"/users/#{comment.user_id}"  %>
        <% end %>
      </div><!-- /thumbnail -->
    </div><!-- /col-sm-1 -->

    <div class="col-sm-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><%= link_to comment.user.full_name, "/users/#{comment.user_id}" %></strong>
          <span class="text-muted">
            <%= distance_of_time_in_words(comment.created_at, Time.now) %>
          </span>
          <% unless comment.user_id != current_user.id %>
            <span>
              <% if "#{comment.commentable_type.downcase}" == "event" %>
                <%= link_to '<i class="glyphicon glyphicon-pencil" title="Edit Comment"></i>'.html_safe,
                    edit_event_comment_path(comment, event_id: commentable.id) %>
              <% elsif "#{comment.commentable_type.downcase}" == "resource" %>
                <%= link_to '<i class="glyphicon glyphicon-pencil" title="Edit Comment"></i>'.html_safe,
                    edit_resource_comment_path(comment, resource_id: commentable.id) %>
              <% end %>
            </span>
          <% end %>

        </div>
          <div class="panel-body">
            <%= comment.body %>
          </div><!-- /panel-body -->
      </div><!-- /panel panel-default -->
    </div><!-- /col-sm-5 -->

  </div><!-- /row -->
<% end %>
</div>
</div>
