<% @users.each_slice(3) do |slice| -%>
  <div class="row row-centered">
    <% slice.each do |user| %>
      <div class="col-md-4 ">
        <div class="profile-content">
          <div class="spacer">
            <%= link_to '', user, :class=>"spacer" %>
            <% if user.uploaded_file_file_name.nil? %>
              <!--looking for a job div below is a test  -->
              <!-- <div  class="looking-for-job"> -->
              <div><%= link_to image_tag("default_pic.png", size: "200x200"), "/users/#{user.id}" %></div>
            <% else %>
              <div><%= link_to image_tag(user.uploaded_file(:medium)), "/users/#{user.id}" %></div>
            <% end %>
            <h4 class="profile-name" style="color: #233139;"><%= user.full_name %></h4>
            <% if !user.looking && !user.hiring && !user.is_mentor %>
              <p> </p>
            <% end %>
            <% if user.looking %>
              <div class="color-indicator-looking"></div>
            <% end %>
            <% if user.hiring %>
              <div class="color-indicator-hiring"></div>
            <% end %>
            <% if user.is_mentor %>
              <div class="color-indicator-mentor"></div>
            <% end %>
            <p class="profile-details" style="color: #727d84;">
              <%= user.tiy_relation %>
            </p>
            <p style="color: #727d84;">
              <% if user.current_city.blank? || user.current_state.blank? %>
                <br/>
              <% else %>
                <%= user.current_location %>
              <% end %>
            </p>
          </div>
          <div class="icon-box">
            <a class="fa fa-envelope-square fa-lg" href="mailto:<%= user.email %>"></a>

            <% unless user.github_profile.blank? %>
              <a href="<%= user.github_link %>" target="_blank">
                <span class="fa fa-github-square fa-lg"></span>
              </a>
            <% end %>

            <% unless user.twitter.blank? %>
              <a href="<%= user.twitter_link %>" target="_blank">
                <span class="fa fa-twitter-square fa-lg"></span>
              </a>
            <% end %>

            <% unless user.linked_in.blank? %>
              <a href="<%= user.linked_in %>" target="_blank">
                <span class="fa fa-linkedin-square fa-lg"></span>
              </a>
            <% end %>

            <% unless user.website.blank? %>
              <a href="<%= user.website %>" target="_blank">
                <span class="fa fa-external-link-square fa-lg"></span>
              </a>
            <% end %>

            <% unless user.blog.blank? %>
              <a href="<%= user.blog %>" target="_blank">
                <span class="fa fa-rss-square fa-lg"></span>
              </a>
            <% end %>
          </div>
        </div>
        <!--end of box here  -->
      </div>
    <% end %>
  </div>
<% end %>
