<div class="container-fluid form-bk">
  <div class="row form-val">
    <%= form_for @user, html: {multipart: true} do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4 class="form-val"><%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:</h4>

      <ul class="error">
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
  <div class="row new-user-form">


 <!--<div class="col-md-1"></div> -->
  <div class="col-md-4 label-column name">
    <div class="field">
      <%= f.label :first_name, :class => "input-label" %>
      <%= f.text_field :first_name, :class => "input-field" %>
    </div>

    <div class="field">
      <%= f.label :last_name, :class => "input-label" %>
      <%= f.text_field :last_name, :class => "input-field" %>
    </div>

    <div class="field">
      <%= f.label :current_city, :class => "input-label" %>
      <%= f.text_field :current_city, :class => "input-field" %>
    </div>

    <div class="field">
      <%= f.label :current_state, :class => "input-label" %>
      <%= f.select :current_state, options_for_select(us_states, @user.current_state), :include_blank => true, :class => "input-field" %>
    </div>
  </div>

  <div class="col-md-4 contact">
    <div class="field">
      <%= f.label :email, :class => "input-label" %>
      <%= f.text_field :email, :class => "input-field" %>
    </div>

    <div class="field">
      <%= f.label :github_profile, :class => "input-label" %>
      <%= f.text_field :github_profile, :class => "input-field" %>
    </div>

    <div class="field">
      <%= f.label :website , :class => "input-label"%>
      <%= f.text_field :website, :class => "input-field" %>
    </div>

    <div class="field">
      <%= f.label :blog, :class => "input-label" %>
      <%= f.text_field :blog, :class => "input-field" %>
    </div>

  </div>
  <div class="col-md-4">

    <%= f.label :uploaded_file, :class => "uploaded"  %>
    <%= f.file_field :uploaded_file %>
  </div>
<!-- <div class="col-md-1"></div> -->
  </div>

  <div class="row">
    <!-- <div class="col-md-2 ctr"></div> -->
    <div class="col-md-12 ctr">
      <div class="field ctr">
        <%= f.label :looking, :class => "", :value => 'I\'m looking for a new job'%>
        Yes<%= f.radio_button :looking, true %>
        No<%= f.radio_button :looking, false %>
      </div>

      <div class="field ctr">
        <%= f.label :hiring, :class => "radio-title", :value => 'My company is hiring' %>
        Yes<%= f.radio_button :hiring, true %>
        No<%= f.radio_button :hiring, false %>
      </div>
    <!-- <div class="col-md-2 ctr"></div> -->
    </div>
  </div>

  <%= f.fields_for :positions do |ff| %>
    <div class="field">
      <%= ff.label :company, :class => "input-label" %><br>
      <%= ff.collection_select(:company_id, Company.all, :id, :name_and_location, prompt: "",:class => "input-field drop-down") %>
    </div>
    <div class="field">
      <%= ff.label :title, :class => "input-label" %><br>
      <%= ff.text_field :title, :class => "input-field" %>
    </div>
    <div class="field">
      <%= ff.label :description, :class => "input-label" %><br>
      <%= ff.text_field :description, :class => "input-field" %>
    </div>
    <div class="field">
      <%= ff.label "Current?", :class => "input-label" %><br>
      <%= ff.check_box :current %>
    </div>
    <div class="field">
      <%= ff.label :started_on, :class => "input-lable" %><br>
      <%= ff.date_field :started_on, :class => "input-field" %>
    </div>
    <div class="field">
      <%= ff.label :ended_on, :class => "input-lable" %><br>
      <%= ff.date_field :ended_on, :class => "input-field" %>
    </div>
    <!-- <div class = "field">----------------</div> -->
  <% end %>
<div class="field"><%= link_to "Don't see your company here? Add it to the list...", new_company_path %></div>
  <div class="row">
    <div class="col-md-12 actions field ">
      <%= f.submit :class=> "btn ", :value => 'Submit'%>
    </div>
  </div>
  <% end %>
</div>
