<div class="container-fluid new-user">
  <h2 id="heading">Edit your profile</h2>
  <div class="row form-val">
    <%= form_for @user, html: {multipart: true} do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4 class="form-val"><%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:</h4>

      <ul class="error">
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
  <div class="row new-user-form">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <%= f.label :uploaded_file, :class => "uploaded"  %>
      <%= f.file_field :uploaded_file %>
    </div>
    <div class="col-md-6 label-column">
      <div class="field">
        <%= f.label :first_name, :class => "input-label" %>
        <%= f.text_field :first_name, :class => "input-field" %>
      </div>

      <div class="field">
        <%= f.label :last_name, :class => "input-label" %>
        <%= f.text_field :last_name, :class => "input-field" %>
      </div>

      <div class="field">
        <%= f.label :email, :class => "input-label" %>
        <%= f.text_field :email, :class => "input-field" %>
      </div>

      <div class="field">
        <%= f.label :current_city, :class => "input-label" %>
        <%= f.text_field :current_city, :class => "input-field" %>
      </div>

      <div class="field">
        <%= f.label :current_state, :class => "input-label" %>
        <%= f.select :current_state, options_for_select(us_states, @user.current_state), :include_blank => true, :class => "input-field" %>
      </div>

      <div class="field">
        <%= f.label :github_profile, :class => "input-label" %>
        <%= f.text_field :github_profile, :class => "input-field" %>
      </div>

      <div class="field">
        <%= f.label :website , :class => "input-label"%>
        <%= f.text_field :website, :class => "input-field" %>
      </div>

      <div class="field">
        <%= f.label :blog, :class => "input-label" %>
        <%= f.text_field :blog, :class => "input-field" %>
      </div>

      <div class="field">
        <%= f.label :looking, :class => "input-label radio-title", :value => 'I\'m looking for a new job'%>
              Yes<%= f.radio_button :looking, true %>
              No<%= f.radio_button :looking, false %>
      </div>

      <div class="field">
        <%= f.label :hiring, :class => "input-label radio-title", :value => 'My company is hiring' %>
        Yes<%= f.radio_button :hiring, true %>
        No<%= f.radio_button :hiring, false %>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-12 actions field ">
      <%= f.submit :class=> "btn ctr-btn", :value => 'Submit'%>
    </div>
  </div>
  <% end %>
</div>
