<div class="container-fluid">
  <h2 id="heading">Create new user</h2>
  <div class="row form-val">
    <%= form_for @user, html: {multipart: true} do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <p class="form-val"><%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:</p>
      <ul class="error">
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>

  <div class="row new-user-form">
    <div class="col-md-4"></div>
    <div class="col-md-4 label-column">

      <div class="field ">
        <%= f.label :first_name, :class => "input-label" %>
        <%= f.text_field :first_name, :class => "input-field" %>
      </div>
      <div class="field">
        <%= f.label :last_name, :class => "input-label" %>
        <%= f.text_field :last_name, :class => "input-field" %>
      </div>

      <div class="field">
        <%= f.label :cohort, :class => "input-label" %>
        <%= f.collection_select(:course_id, Course.all, :id, :full_description, prompt: "") %>
      </div>

      <div class="field">
        <%= f.label :email, :class => "input-label" %>
        <%= f.text_field :email, :class => "input-field" %>
      </div>

      <div class="field">
        <%= f.label "Campus Director?", :class => "input-label" %></br>
      Yes<%= f.radio_button :is_cd, true %>
      No<%= f.radio_button :is_cd, false %>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">

  <div class="col-md-12 actions field ">

    <%= f.submit :class=> "btn ctr-btn", :value => 'Submit' %>

  </div>
</div>
<% end %>
</div>
