<div class="scroll-container">
  <% @job_posts.each do |job_post| %>
    <div class="job-post-block">
      <p class="dashboard-event-title"><%= job_post.title%></p>
      <p class="dashboard-event-details">
        <strong><%= job_post.company_name %></strong> - <%= job_post.city %>, <%= job_post.state %>
      </p>
      <p class="dashboard-event-details"><%= job_post.experience_desired %></p>
      <p class="dashboard-event-details"><%= job_post.description %></p>
    </div>
  <% end %>
</div>
