
<!-- Dashboard  -->

<div class="container-fluid">
  <div class="row dashboard-row">
    <div class="col-md-4">
      Resources listing


    </div>
    <div class="col-md-4">
      Job Listing


    </div>
    <div class="col-md-4">
      <div class="dashboard-events-header">

        <h2 class="fixed-header">Events</h2>

        <!-- <div class="btn-add-record-align events-btn"><%= link_to 'Add New Event', new_event_path, :class=>" btn-add-record" %></div> -->
</div>
        <!-- <div class= "event-search">
          <%= form_tag search_events_path do %>
          <%= select_tag "campus_id", options_from_collection_for_select(Campus.all,
            :id, :long_name, params[:campus_id]), prompt: "Search by Campus",
            class: "input-field search-long" %>
          <%= button_tag "", type: "submit", class: "search-button glyphicon glyphicon-search" %>
        </div>
          <% end %>

      </br> -->





    <%= render 'events' %>

  </div>
</div>
