<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-3">
        <ul class="nav nav-tabs nav-stacked">
            <li role="presentation"><%= link_to 'My Profile', user_path(current_user) %></li>
            <li role="presentation"><%= link_to 'My Events', my_events_path if @user.id == current_user.id %></li>
            <li role="presentation" class="active"><a href="#">Change Password</a></li>
        </ul>
    </div>
    <div class = "col-md-9 edit-password">
      <h2>Change Password for <%= @user.first_name.capitalize %></h2>
      
      <%= form_for(@user, url: { action: "update_password" } ) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      
            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="field">
          <%= f.label :current_password, "Current Password",:class => "input-label"  %><br/>
          <%= f.password_field :current_password, :class => "input-field" %>
        </div><br />
        <div class="field">
          <%= f.label :password, "Password (minimum 8 characters)", :autocomplete => "off", :class => "input-label" %><br/>
          <%= f.password_field :password, :class => "input-field"%>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, "Confirm Password", :class => "input-label" %><br />
          <%= f.password_field :password_confirmation, :class => "input-field" %>
        </div>
        <div class="action_container">
          <%= f.submit "Change Password", class: "btn"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
