<h2>Update Password for <%= @user.first_name.capitalize %></h2>

<%= form_for(@user, url: { action: "update_password" } ) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :current_password, "Old Password" %> <i> (we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password %>
  </div><br />
  <div class="field">
    <%= f.label :password, "Password", :autocomplete => "off" %><i> (minimum 8 characters)</i><br />
    <%= f.password_field :password%>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="action_container">
    <%= f.submit "Change Password"%>
  </div>
<% end %>

<%= link_to 'View Profile', @user %> |
<%= link_to 'Alumni Directory', users_path %>
