<div class="container-fluid">

<div>
  <h2 id="heading"> Welcome to The Forge, <%= @user.full_name %>! </h2>
  <p class="paragraphs"> Since this is your first time logging in, please update your account info </p>
</div>
<div class="row form-val">
<%= form_for @user, html: {multipart: true} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4 class="form-val"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul class="error">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="row new-user-form">

  <div class="col-md-4">
    <div class="field">
      <%= f.label :password, "Password", :autocomplete => "off", :class => "input-label stack-align" %></br><i class="footnote"> (minimum 8 characters)</i></br>
      <%= f.password_field :password, :class => "input-field"%>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirm Password", :class => "input-label" %><br />
      <%= f.password_field :password_confirmation, :class => "input-field" %>
    </div>


  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-4">
    <div class="field">
      <%= f.label :first_name, "First Name", :class => "input-label" %></br>
      <%= f.text_field :first_name, :class => "input-field" %>
    </div>

    <div class="field">
      <%= f.label :last_name, "Last Name", :class => "input-label"%></br>
      <%= f.text_field :last_name, :class => "input-field" %>
    </div>

    <div class="field">
      <%= f.label :email, :class => "input-label" %></br>
      <%= f.text_field :email, :class => "input-field" %>
    </div>

    <div class="field">
      <%= f.label :current_city, "Current City" , :class => "input-label"%></br>
      <%= f.text_field :current_city,:class => "input-field" %>
    </div>

    <div class="field">
      <%= f.label :current_state, "Current State", :class => "input-label"%></br>
      <%= f.select :current_state, options_for_select(us_states, @user.current_state), :include_blank => true, :class => "input-field" %>
    </div>

    <div class="field">
      <%= f.label :github_profile, "Github Account", :class => "input-label" %></br>
      <%= f.text_field :github_profile, :class => "input-field" %>
    </div>

    <div class="field">
      <%= f.label :website, "Website", :class => "input-label" %></br>
      <%= f.text_field :website, :class => "input-field" %>
    </div>

    <div class="field">
      <%= f.label :blog, "Blog" , :class => "input-label"%></br>
      <%= f.text_field :blog,:class => "input-field" %>
    </div>

    <div class="field">
      <%= f.label :looking, :class => "input-label radio-title", :value => 'I\'m looking for a new job' %>
      Yes<%= f.radio_button :looking, true %>
      No<%= f.radio_button :looking, false %>
    </div>

        <div class="field">
          <%= f.label :hiring, :class => "input-label radio-title", :value => 'My company is hiring' %>
          Yes<%= f.radio_button :hiring, true %>
          No<%= f.radio_button :hiring, false %>
        </div>
      </div>
      <div class="field ctr">
        <%= f.label :get_job_email, :class => "", :value => 'Would you like to receive email notifications for job posts?'%>
        Yes<%= f.radio_button :get_job_email, true %>
        No<%= f.radio_button :get_job_email, false %>
      </div>
      <div class="field ctr">
        <%= f.label :get_resource_email, :class => "", :value => 'Would you like to receive email notifications for resources?'%>
        Yes<%= f.radio_button :get_resource_email, true %>
        No<%= f.radio_button :get_resource_email, false %>
      </div>
      <div class="field ctr">
        <%= f.label :get_event_email, :class => "", :value => 'Would you like to receive email notifications for events?'%>
        Yes<%= f.radio_button :get_event_email, true %>
        No<%= f.radio_button :get_event_email, false %>
      </div>
      <div class="field ctr">
        <%= f.label :campus_notification_id, :class => "", :value => 'Which campus?'%>
        <%= f.collection_select(:campus_notification_id, Campus.all, :id, :long_name, prompt: "") %>
      </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.label :uploaded_file, "Profile Picture", :class => "input-label" %>
        <%= f.file_field :uploaded_file%>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12 actions field ">
    <%= f.submit "Save Changes", :class=> "btn ctr-btn", :value => 'Submit' %>
    </div>
  </div>
<% end %>
</div>
