
<div class="container-fluid">

  <!-- <h2>Alumni Directory</h2> -->
  <div id="header" class="align">


<div class="color-indicator-looking"></div><div class="key-code">
  Looking for a job
</div>
<div class="color-indicator-hiring"></div>
<div class="key-code">
  My company is hiring
</div>
<div class="color-indicator-mentor"></div>
<div class="key-code">I'm available to mentor or tutor</div>
  </div>


  <div class="row">
    <div id="search-box" class="search-box col-med-12 well">
        <%= form_tag search_path do %>
          <%= text_field_tag "name", params[:name], class: "input-field general-search ", placeholder: "Name"%>
          <%= select_tag "campus_id", options_from_collection_for_select(Campus.all, :id, :long_name, params[:campus_id]), prompt: "Campus", class: "search-reg search-boxes-bar-mid" %>
          <%= button_tag "", type: "submit", class: "glyphicon glyphicon-search search-boxes-bar-right search-button" %>
          <a class="more-options search-boxes-bar-mid" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          More options</a>
          <div class="collapse" id="collapseExample">
            <div class="list">
              <%= select_tag "curric_id", options_from_collection_for_select(Curriculum.all, :id, :name, params[:curric_id]), prompt: "Curriculum", class: "search-reg search-on-left" %>
              <%= select_tag "company_id", options_from_collection_for_select(Company.all, :id, :name_and_location, params[:company_id]), prompt: "Company", class: "search-reg" %>
              <%= text_field_tag "current_city", params[:current_city], class: "text-field input-field", placeholder: "City"%>
              <%= select_tag "current_state", options_for_select(us_states, params[:current_state]), prompt: "State", class: "search-state"%>
              <%= select_tag "job_status", options_for_select(["Looking for work", "Hiring"], params[:job_status]), prompt: "Job Status", class: "search-reg"%>

            </div>
          <% end %>
      </div></br>
    </div>
  </div>
      <!-- <ul class="align-search">


        <li>

          <input class=" search search-all" id="search" placeholder="Search..." type="search" type="search"/>
        </li>
        <li> -->

    <!--<%= form_tag search_path do %>
    <%= text_field_tag "name", params[:name], class: "search", placeholder: "Name"%>
    <%= text_field_tag "current_city", params[:current_city], class: "search", placeholder: "City"%>
    <%= select_tag "current_state", options_for_select(us_states, params[:current_state]), prompt: "Search by State", class: "search-state"%>
    <%= select_tag "curric_id", options_from_collection_for_select(Curriculum.all, :id, :name, params[:curric_id]), prompt: "Search by Curriculum", class: "search" %>
    <%= select_tag "campus_id", options_from_collection_for_select(Campus.all, :id, :long_name, params[:campus_id]), prompt: "Search by Campus", class: "search" %>
    <%= select_tag "cohort_class", options_for_select(["My Classmates", "My Cohort"], params[:cohort_class]), prompt: "Search within your Cohort", class: "search"%>
    <%= select_tag "company_id", options_from_collection_for_select(Company.all.ordered, :id, :name_and_location, params[:company_id]), prompt: "Search by Company", class: "search" %>
    <%= select_tag "job_status", options_for_select(["Looking for work", "Hiring"], params[:job_status]), prompt: "Search by Job Status", class: "search"%>
    <%= button_tag "", type: "submit", class: "glyphicon glyphicon-search" %>
    <% end %>-->



<% @users.each_slice(3) do |slice| -%>


<div class="row row-centered">


  <% slice.each do |user| %>

  <div class="col-md-4 ">

    <div class="profile-content">
<div class="spacer"><%= link_to '', user, :class=>"spacer" %>

    <% if user.uploaded_file_file_name.nil? %>
    <!--looking for a job div below is a test  -->
    <!-- <div  class="looking-for-job"> -->
    <div><%= link_to image_tag("default_pic.png", size: "200x200"), "/users/#{user.id}" %></div>
    <% else %>
    <div><%= link_to image_tag(user.uploaded_file(:square)), "/users/#{user.id}" %></div>
    <% end %>

    <h4 class="profile-name" style="color: #233139;"><%= user.full_name %></h4>
<div class="indicators">


    <% if user.looking %>
    <span class="color-indicator-looking"></span>
    <% end %>
    <% if user.hiring %>
    <span class="color-indicator-hiring"></span>
    <% end %>
<span class="color-indicator-mentor"></span>
</div>
    <!-- <p class="profile-details" style="color: #727d84;"><%= user.tiy_relation %></p> -->
    <p class="profile-details" style="color: #727d84;"><%= user.current_location unless user.current_city.blank? || user.current_state.blank?  %></p>
  </div>
    <div class="collapse" data-parent="collapse" id="collapse">
      <% unless user.positions.empty? %>
      <div><%= user.current_position.company_name %></div>
      <div><%= user.current_position.title %></div>
      <% end %>
    </div>





  <div class="icon-box">

    <a class="icon-mail icon" href="mailto:<%= user.email %>"></a>
    <% unless user.github_profile.blank? %>
    <a href="<%= user.github_profile %>" target="_blank">
      <span class="icon-github icon"></span>
    </a>
    <% end %>
    <% unless user.website.blank? %>
    <a href="<%= user.website %>" target="_blank">
      <span class="icon-wordpress-alt icon"></span>
    </a>
    <% end %>
    <% unless user.blog.blank? %>
    <a href="<%= user.blog %>" target="_blank">
      <span class="icon-blogger icon"></span>
    </a>
    <% end %>

  </div>

  </div>
<!--end of box here  -->
</div>

<% end %>

</div>


<% end %>

</div>

<!-- glyphicon glyphicon-search -->
