<div class="container-fluid">

  <h2>Alumni Directory</h2>

  <div class="row">
    <div class="search-box col-med-12">
        <%= form_tag search_path do %>
          <%= select_tag "campus_id", options_from_collection_for_select(Campus.all, :id, :long_name, params[:campus_id]), prompt: "Search by Campus", class: "search-boxes-bar" %>
          <%= select_tag "campus_id", options_from_collection_for_select(Campus.all, :id, :long_name, params[:campus_id]), prompt: "Search by Campus", class: "search-boxes-bar" %>
          <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          More options</a>
          <%= button_tag "", type: "submit", class: "glyphicon glyphicon-search" %>
          <div class="collapse" id="collapseExample">
            <div class="well">
              <%= select_tag "curric_id", options_from_collection_for_select(Curriculum.all, :id, :name, params[:curric_id]), prompt: "Search by Curriculum", class: "search" %>
              <%= text_field_tag "current_city", params[:current_city], class: "search", placeholder: "City"%>
              <%= select_tag "company_id", options_from_collection_for_select(Company.all, :id, :name_and_location, params[:company_id]), prompt: "Search by Company", class: "search" %>
              <%= text_field_tag "current_city", params[:current_city], class: "search", placeholder: "City"%>
              <%= select_tag "current_state", options_for_select(us_states, params[:current_state]), prompt: "Search by State", class: "search-state"%>
              <%= select_tag "job_status", options_for_select(["Looking for work", "Hiring"], params[:job_status]), prompt: "Search by Job Status", class: "search"%>
            </div>
          </div>
        <% end %>
      <!-- <ul class="align-search">


        <li>

          <input class=" search search-all" id="search" placeholder="Search..." type="search" type="search"/>
        </li>
        <li> -->
<!--<
    <%= form_tag search_path do %>
    <%= text_field_tag "current_city", params[:current_city], class: "search", placeholder: "City"%>
    <%= select_tag "current_state", options_for_select(us_states, params[:current_state]), prompt: "Search by State", class: "search-state"%>
    <%= select_tag "curric_id", options_from_collection_for_select(Curriculum.all, :id, :name, params[:curric_id]), prompt: "Search by Curriculum", class: "search" %>
    <%= select_tag "campus_id", options_from_collection_for_select(Campus.all, :id, :long_name, params[:campus_id]), prompt: "Search by Campus", class: "search" %>
    <%= select_tag "company_id", options_from_collection_for_select(Company.all, :id, :name_and_location, params[:company_id]), prompt: "Search by Company", class: "search" %>
    <%= select_tag "job_status", options_for_select(["Looking for work", "Hiring"], params[:job_status]), prompt: "Search by Job Status", class: "search"%>
    <%= button_tag "", type: "submit", class: "glyphicon glyphicon-search" %>
    <% end %>
    </div></br>-->
  <!-- </div> -->

<% @users.each_slice(3) do |slice| -%>
<div class="row row-centered">
  <% slice.each do |user| %>

  <div class="col-md-4 profile-content">

    <% if user.uploaded_file_file_name.nil? %>
    <div><%= link_to image_tag("default_pic.png", size: "200x200"), "/users/#{user.id}" %></div>
    <% else %>
    <div><%= link_to image_tag(user.uploaded_file(:square)), "/users/#{user.id}" %></div>
    <% end %>

    <h4 class="profile-name" style="color: #233139;"><%= user.full_name %></h4>
    <p class="profile-details" style="color: #727d84;"><%= user.course.full_description unless user.course.blank? %></p>
    <p class="profile-details" style="color: #727d84;"><%= user.current_location unless user.current_city.blank? || user.current_state.blank?  %></p>

    <button class="ellipse" data-target=".collapse" data-toggle="collapse" type="button">More Info
    </button>

    <div class="collapse" data-parent="collapse" id="collapse">
      <% if user.hiring %>
      <div>Hiring: Yes</div>
      <% end %>
      <% if user.looking %>
      <div>Job-Searching: Yes</div>
      <% end %>
      <% unless user.positions.empty? %>
      <div><%= user.current_position.company_name %></div>
      <div><%= user.current_position.title %></div>
      <% end %>
    </div>
  </br>

  <div class="icon-box">
    <a ,  class="icon-mail icon" href="mailto:<%= user.email %>"></a>
    <% unless user.github_profile.blank? %>
    <a href="<%= user.github_profile %>" target="_blank">
      <span class="icon-github icon "></span>
    </a>
    <% end %>
    <% unless user.website.blank? %>
    <a href="<%= user.website %>" target="_blank">
      <span class="icon-wordpress-alt icon"></span>
    </a>
    <% end %>
    <% unless user.blog.blank? %>
    <a href="<%= user.blog %>" target="_blank">
      <span class="icon-blogger icon"></span>
    </a>
    <% end %>
  </div>

  <div class="spacer"><%= link_to 'View Profile', user %></div>

</div>

<% end %>
</div>
</div>

<% end %>

</div>

<!-- glyphicon glyphicon-search -->
