<div class = "container">

  <h1>Alumni Directory</h1>

  <%= link_to 'New User', new_user_path if current_user.is_cd%>
  <%= link_to 'Courses', courses_path if current_user.is_cd%>

  <div class="search-bar">
    <%= form_tag results_path do %>
    <%= text_field_tag "current_city", nil, class: "search", placeholder: "City"%>
    <%= select_tag "current_state", options_for_select(us_states), prompt: "Search by State", class: "search"%>
    <%= select_tag "curric_id", options_from_collection_for_select(Curriculum.all, :id, :name), prompt: "Search by Curriculum", class: "search" %>
    <%= select_tag "campus_id", options_from_collection_for_select(Campus.all, :id, :long_name), prompt: "Search by Campus", class: "search" %>
    <div>Looking<%= check_box_tag "looking" %></div>
    <div>Hiring<%= check_box_tag "hiring" %></div>
    <%= button_tag "", type: "submit", class: "glyphicon glyphicon-search" %>
    <% end %>
  </div>

<% @users.each_slice(3) do |slice| -%>
  <div class="row row-centered">
    <% slice.each do |user| %>
        <div class = "col-md-1"></div>
         <div class = "col-md-3 profile-content">
             <% if user.uploaded_file_file_name.nil? %>
              <div><%= link_to image_tag("default_pic.png", size: "200x200"), "/users/#{user.id}" %></div>
             <% else %>
              <div><%= link_to image_tag(user.uploaded_file(:square)), "/users/#{user.id}" %></div>
             <% end %>

            <h4 style = "color: #233139;";><%= user.full_name %></h4>
            <p style = "color: #727d84;"><%= user.course.full_description unless user.course.blank? %></p>
            <p style = "color: #727d84;"><%= user.current_location unless user.current_city.blank? || user.current_state.blank?  %></p>

            <a href="mailto:<%= user.email %>" target="_blank"><span class="user.email"></span></a>
            <span class="icon-mail"><a href="mailto:<%= user.email %>"></a></span>
              <% unless user.github_profile.blank? %>
                <a href="<%= user.github_profile %>" target="_blank"><span class="icon-github"></span></a>
              <% end %>
              <% unless user.website.blank? %>
                <a href="<%= user.website %>" target="_blank"><span class="icon-wordpress-alt"></span></a>
              <% end %>
              <% unless user.blog.blank? %>
                <a href="<%= user.blog %>" target="_blank"><span class="icon-blogger"></span></a>
              <% end %>
              <% unless user.positions.empty? %>
                <div><%= user.current_position.company_name %></div>
                <div><%= user.current_position.title %></div>
              <% end %>
              <% if user.hiring %>
                <div>Hiring: Yes</div>
              <% end %>
              <% if user.looking %>
                <div>Looking: Yes</div>
              <% end %>
          <div><%= link_to 'View Profile', user %></div>
         </div>
     <% end %>

   </div>
<% end -%>
 </div>
