<h1>Alumni Directory</h1>

<div>
  <div>
    <% @users.each do |user| %>
      <div>

        <div>---------------</div>
        <div>Profile Picture</div>
        <div>---------------</div>

        <div><%= user.full_name %></div>
        <div>Email Icon: <%= user.email %></div>
        <div>Location Icon: <%= user.current_location %></div>
        <div>Github Icon: <%= user.github_profile %></div>
        <% if !user.website.nil? %>
          <div>Website: <%= user.website %></div>
        <% end %>

        <% if !user.blog.nil? %>
          <div>Blog: <%= user.blog %></div>
        <% end %>

        <div><%= link_to 'View Profile', user %></div>
        <div><%= link_to 'Edit', edit_user_path(user) %></div>
        <div><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div></br>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New User', new_user_path %>
