
<div>
  <% if @user.uploaded_file_file_name.nil? %>
    <div><%= image_tag "default_pic.png", size: "200x200" %></div>
  <% else %>
    <div><%= image_tag @user.uploaded_file(:medium) %></div>
  <% end %>

  <div><%= @user.full_name %></div>
  <div><%= @user.course.full_description unless @user.course.blank? %></div>
  <div>Email Icon: <%= @user.email %></div>
  <div>Location Icon: <%= @user.current_location %></div>
  <div>Github Icon: <%= @user.github_profile %></div>
  <% unless @user.website.blank? %>
    <div>Website: <%= @user.website %></div>
  <% end %>
  <% unless @user.blog.blank? %>
    <div>Blog: <%= @user.blog %></div>
  <% end %>
  <% if @user.hiring %>
    <div>Hiring: Yes</div>
  <% end %>
  <% if @user.looking %>
    <div>Looking: Yes</div>
  <% end %>

    <div>
      <%= link_to 'Edit Profile', edit_user_path(@user) if @user.id == current_user.id %>
      <%= link_to 'Change Password', edit_password_user_path(@user) if @user.id == current_user.id %>
      <%= link_to 'Alumni Directory', users_path %>
    </div>


  </div></br>
  </div>
