<div class = "login-box">
  <h2 class = "login-page">Forgot Password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, :class => "input-field-login login-page", :placeholder => "Email" %>
    </div>

    <div class="actions">
      <br />
      <%= f.submit "Reset Password", :class => "btn-login" %>
    </div>
  <% end %>
</div>

<div class = "forgot-password">
  <%= render "devise/shared/links" %>
</div>
