<div class="events-background-color">
  <div class="search-box-back-events"></div>
  <% @events.each do |event| %>
  <div class="row event-card">
    <div class="">
      <% if event.uploaded_file_file_name.nil? %>

          <i class="fa fa-calendar fa-5x event-list-img img-200px"  title="calendar" alt="calendar-icon"></i>

      <!-- <%= image_tag "event_default.png", size: "200x200", :class=>"event-list-img" %> -->
      <% else %>
      <%= image_tag event.uploaded_file(:square), :class=>"event-list-img" %>
      <% end %>
    </div>











    <div class="col-med-8">
      <div class="event-list-content">
        <h3 class="event-list-details"><%= event.title %></h3>
      </br>
      <p class="event-list-details"><%= event.event_date  %>
      </p>
    </br>
      <p class="event-list-details"><%= event.event_time %></p></br>
      <p class="event-list-details"><%= link_to "View More", event_path(event) %></p></br>
      </div>
    </div>

    <div class=col-med-1>
      <div class="event-listing-thumbnail">
        <div class="posted-by">
          <p class="event-small-font">Posted by</p>
          <% if event.user.uploaded_file_file_name.nil? %>
          <%=link_to image_tag("default_pic.png", size: "50x50"), "/users/#{event.user_id}" %>
          <% else %>
          <%=link_to image_tag(event.user.uploaded_file(:thumb)),"/users/#{event.user_id}" %>
          <% end %>
    <!-- <p><%=link_to event.user.first_name, "/users/#{event.user_id}" %></p> -->
        </div>
      </div>
      <div class="event-listing-edit-delete">
        <%= link_to '<i class="glyphicon glyphicon-pencil" title="Edit Event"></i>'.html_safe,
                    edit_event_path(event) if event.user_id == current_user.id %>
        <%= link_to '<i class="glyphicon glyphicon-remove" title="Delete Event"></i>'.html_safe,
                    event, method: :delete, data: { confirm: 'Are you sure?' } if event.user_id == current_user.id %>
      </div>
    </div>
  </div>
  <% end %>
</div>
