<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

    <!-- <div class='input-group date' id='datetimepicker1' >
      <div class="field"> -->
  <div class="field">
    <%= f.label "Happens On" %><br>
    <%= f.datetime_select :happens_on, class: "form-control" %>
  </div>
      <!-- </div>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div> -->
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :uploaded_file, class: "uploaded" %>
    <%= f.file_field :uploaded_file %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :campus, :class => "input-label" %><br>
    <%= f.collection_select(:campus_id, Campus.all, :id, :long_name, prompt: "") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
