<div class="container">
<h2><%= current_user.first_name %>'s Events</h2><span><%= link_to 'New Event', new_event_path %></span>
  <% @events.each do |event| %>
    <div class="row">
      <div class="image-circle">
        <% if event.uploaded_file_file_name.nil? %>
         <div><%= image_tag "event_default.png", size: "100x100" %></div>
        <% else %>
          <div> <%= image_tag event.uploaded_file(:thumb) %> </div>
        <% end %>
        <div class="event-details">
          <p> <%= event.name %> </p>
          <div class="container col-md-4">
            <div class="col-md-5">
              <h5> <%= event.event_date %> </h5>
              <h6> <%= event.event_time %> </h6>
              <%= link_to '<i class="glyphicon glyphicon-pencil" title="Event"></i>'.html_safe,
                  edit_event_path(event) if event.user_id == current_user.id %>
              <%= link_to '<i class="glyphicon glyphicon-remove" title="Delete"></i>'.html_safe,
                  event, method: :delete, data: { confirm: 'Are you sure?' } if event.user_id == current_user.id %>
            </div>
            <div class="col-md-5">
              <p> <%= event.campus.long_name %> </p>
              <p> <%= event.description %> </p>
              <p> <%= event.website %> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <br>
</div>
