<div class="container-fluid">
  <div class="row">
     <div class="col-md-1"></div>
     <div class="col-md-10">
        <h2 class = "events-head-text">Events</h2>
        <%= link_to '', new_event_path, :class=>"fa fa-plus fa-lg btn-add-record-long line-up-header"  %>
        <div class="well">
           <%= form_tag search_events_path, remote: true do %>
           <%= text_field_tag "query", params[:query], class: "resources-search-boxes-bar", placeholder: "Search"%>
           <%= select_tag "campus_id", options_from_collection_for_select(Campus.all,
             :id, :long_name, params[:campus_id]), prompt: "Search by Campus",
             class: "search-reg" %>
           <%= button_tag "", type: "submit", class: "search-button glyphicon glyphicon-search" %>
           <% end %>
        </div>
        <div id="event-list">
          <%= render 'event_list' %>
        </div>
     </div>
     <div class="col-md-1"></div>
  </div>
</div>
