<div class = "container-fluid" id="profile-container">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 event-show-box">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2">
              <div class = "image-pic-down">
                <% if @event.uploaded_file_file_name.nil? %>
                  <div>
                    <%= image_tag "event_default.png", size: "200x200", :class=>"default-img" %>
                  </div>
                <% else %>
                  <div>
                    <%= image_tag @event.uploaded_file(:small), :class=>"default-img" %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-7 contact-info">
              <h3 class="event-show-title-header"><%= @event.title %></h3>
              <!-- <div class="event-edit-delete-links">
                <% if @event.user_id == current_user.id %>
                  <%= link_to '<i class="fa fa-pencil" title="Event"></i>'.html_safe,
                      edit_event_path(@event) %>
                  <%= link_to '<i class="fa fa-times" title="Delete"></i>'.html_safe,
                      @event, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div> -->
              <div class="event-show-details"><%= @event.event_date %></div>
              <div class="event-show-details"><%= @event.event_time %></div>
              <div class="event-show-details"><%= @event.location %></div>
              <% unless @event.website.blank? %>
                <div class="event-show-details"><%= @event.website_html %></div>
              <% end %>
              <div class="event-show-details"><%= @event.description %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <%= render partial: 'comments/comments', locals: {commentable: @event} %>
        </div>
        <div class="row">
          <%= render partial: 'comments/form', locals: {commentable: @event, comment: @comment} %>
        </div>
      </div><!-- close chat column -->
      <div class="col-md-1"></div>
    </div><!-- close row -->
  </div>
  </br>
</div>
