<div class = "container-fluid" id="profile-container">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 event-show-box">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2">
              <div class = "image-pic-down">
                <% if @event.uploaded_file_file_name.nil? %>
                  <div>
                    <%= image_tag "event_default.png", size: "100x100", :class=>"default-img" %>
                  </div>
                <% else %>
                  <div>
                    <%= image_tag @event.uploaded_file(:small), :class=>"default-img" %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-7 contact-info">
              <h3 class="profile-name-header"><%= @event.title %></h3>
              <div id="user-profile-tiy-relation"><%= @event.event_date %></div>
              <div id="user-profile-tiy-relation"><%= @event.event_time %></div>
              <div id="user-profile-tiy-relation"><%= @event.location %></div>
              <% unless @event.website.blank? %>
                <div id="user-profile-tiy-relation"><%= @event.website_html %></div>
              <% end %>
              <div id="user-profile-tiy-relation"><%= @event.description %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <%= render partial: 'comments/comments', locals: {commentable: @event} %>
        </div>
        <div class="row">
          <%= render partial: 'comments/form', locals: {commentable: @event, comment: @comment} %>
        </div>
      </div><!-- close chat column -->
      <div class="col-md-1"></div>
    </div><!-- close row -->
  </div>
  </br>
</div>
