<!-- <div class="container"> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="detail-event-img">
        <% if @event.uploaded_file_file_name.nil? %>
          <div>
            <%= image_tag "event_default.png", size: "100x100", :class=>"default-img" %>
          </div>
        <% else %>
          <div>
            <%= image_tag @event.uploaded_file(:thumb) %>
          </div>
        <% end %>
      </div>
      <div class="thumbnail-event-img">
        <% if @event.user.uploaded_file_file_name.nil? %>
          <div>
            <%=link_to image_tag("default_pic.png", size: "50x50"), "users/#{@event.user_id}" %>
          </div>
        <% else %>
          <div>
            <%=link_to image_tag(@event.user.uploaded_file(:small)),"users/#{@event.user_id}"  %>
          </div>
        <% end %>
        <span "event-small-font">Posted By:</span><strong><%= link_to @event.user.first_name, "/users/#{@event.user_id}" %></strong>
      </div>
    </div>
    <div class="col-md-6">
      <div class="event-detail-page">
        <h2 class="event-page-heading"><%= @event.title %></h2>
        <ul class="event-details">
          <li><%= @event.event_date %></li>
          <li><%= @event.event_time %></li>
          <li>Location: <%= @event.location %></li>
          <li><%= @event.description %></li>
          <% unless @event.website.blank? %>
            <li class="event-link">Website: <%= @event.website_html %></li>
          <% end %>
        </ul>
      </div>
      <div class="edit-delete">
        <%= link_to '<i class="glyphicon glyphicon-pencil" title="Edit"></i>'.html_safe,
            edit_event_path(@event) if @event.user_id == current_user.id %>
        <%= link_to '<i class="glyphicon glyphicon-remove" title="Delete Event"></i>'.html_safe,
            @event, method: :delete, data: { confirm: 'Are you sure?' } if @event.user_id == current_user.id %>
      </div>
    </div>
    <div class= col-md-4>
      <div class="chat-column">
        <%= render partial: 'comments/comments', locals: {commentable: @event} %>
        <%= render partial: 'comments/form', locals: {commentable: @event, comment: @comment} %>
      </div>
    </div><!-- close chat column -->
  </div><!-- close row -->
</div><!-- fluid container closer -->
