<div class="job-modal-well">
  <div class="row" id="job-post-form">
    <h2 id="job-post-modal-header">New Resource</h2>
    <%= form_for(@resource) do |f| %>
        <div class="row form-val">
          <%= render "shared/error_messages", :target => @resource %>
        </div>
        <div class="col-md-12 field">
          <div class="modal-body">
            <div class="resource-list">
              <div class="field">
                <%= f.label :title, class: "input-label" %><br>
                <%= f.text_field :title, class: "input-field" %>
              </div>
              <div class="field">
                <%= f.label :description, class: "input-label" %><br>
                <%= f.text_area :description, class: "input-field" %>
              </div>
              <div class="field">
                <%= f.label :website , class: "input-label"%><br>
                <%= f.text_field :website, class: "input-field" %>
              </div>
              <div class="field">
                <%= f.label :curriculum, class: "input-label" %><br>
                <%= f.collection_select(:curriculum_id, Curriculum.all, :id, :nickname, {prompt: ""}, class: "input-field dropdown") %>
              </div>
            </div>
          </div>

          <div class="actions">
            <%= f.submit class: "btn", :value => 'Save Resource'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
