<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6 fill-background">
        <h2 class = "resources-head-text">Resources</h2>
    </div>
    <div class = "col-md-4 line-up-header">
        <div><%= link_to '', new_resource_path, :class=>"fa fa-plus fa-lg btn-add-record-long line-up-header"%></div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-med-12 well-short-resources">
      <%= form_tag search_resources_path, remote: true do %>
      <%= text_field_tag "query", params[:query], class: "input-field-search general-search-resources search-well", placeholder: "Search"%>
      <%= button_tag "", type: "submit", class: "glyphicon glyphicon-search search-boxes-bar-right search-button" %>
      <% end %>
    </div>
    </br>
  </div>

  <div id="resource-list">
    <%= render "resource_list" %>
  </div>
</div>
