<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2><%= @resource.title %></h2>
      </div>
    </div>
    <div class="events-background-color">
        <div class="row card">
          <div class="col-md-12">
            <div class="thumbnail event-img">
              <% if @resource.user.uploaded_file_file_name.nil? %>
               <div>
                 <%=link_to image_tag("default_pic.png", size: "50x50"), "/users/#{@resource.user_id}" %>
                 <%=link_to @resource.user.first_name, "/users/#{@resource.user_id}" %>
               </div>
              <% else %>
                <div>
                  <%=link_to image_tag(@resource.user.uploaded_file(:thumb)),"/users/#{@resource.user_id}" %>
                  <%=link_to @resource.user.first_name, "/users/#{@resource.user_id}" %>
                </div>
              <% end %>
            </div>
            <div class="resource-header">
              <p class="event-details">
                <%= @resource.curriculum.nickname %>
              </p>
            </div>
              <p> <%= @resource.description %> </p>
              <% unless @resource.website.blank? %>
                <p><%= @resource.website_html %></p>
              <% end %>
              <div class="edit-delete">
                <%= link_to '<i class="glyphicon glyphicon-pencil" title="Edit Resource"></i>'.html_safe,
                    edit_resource_path(@resource) if @resource.user_id == current_user.id %>
                <%= link_to '<i class="glyphicon glyphicon-remove" title="Delete Resource"></i>'.html_safe,
                    @resource, method: :delete, data: { confirm: 'Are you sure?' } if @resource.user_id == current_user.id %>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="detailBox">
  <%= render partial: 'comments/comments', locals: {commentable: @resource} %>

  <%= render partial: 'comments/form', locals: {commentable: @resource, comment: @comment} %>

</div>
