<div class = "container-fluid" id="profile-container">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 resource-show-box">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2">
              <div class = "image-pic-down">
                <% if @resource.curriculum.nickname == "Rails" %>
                  <div>
                    <%= image_tag("back-end-engineering-icon.png", size: "80x80") %>
                  </div>
                   <% elsif @resource.curriculum.nickname == "Python" %>
                  <div>
                    <%= image_tag("data-science-icon.png", size: "80x80") %>
                  </div>
                <% elsif @resource.curriculum.nickname == "Front End" %>
                  <div>
                    <%= image_tag("front-end-engineering-icon.png", size: "80x80") %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-7 contact-info">
              <h3 class="resource-show-title-header"><%= @resource.title %></h3>
              <div class="resource-edit-delete-links">
                <% if @resource.user_id == current_user.id %>
                  <%= link_to '<i class="fa fa-pencil" title="Event"></i>'.html_safe,
                      edit_resource_path(@resource) %>
                  <%= link_to '<i class="fa fa-times" title="Delete"></i>'.html_safe,
                      @resource, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
              <div class="resource-show-details"><%= @resource.description %></div>
              <% unless @resource.website.blank? %>
                <div class="resource-show-details"><%= @resource.website_html %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <%= render partial: 'comments/comments', locals: {commentable: @resource} %>
        </div>
        <div class="row">
          <%= render partial: 'comments/form', locals: {commentable: @resource, comment: @comment} %>
        </div>
      </div><!-- close chat column -->
      <div class="col-md-1"></div>
    </div><!-- close row -->
  </div>
  </br>
</div>
