<div class="container-fluid">
  <div class="row">
    <div class="col-med-12">
      <%= form_for(@job_post) do |f| %>
        <% if @job_post.errors.any? %>
          <div id="error_explanation">
            <h4 class="form-val"><%= pluralize(@job_post.errors.count, "error") %> prohibited this job_post from being saved:</h2>
            <ul class="error">
            <% @job_post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>


  <div class="row">
    <div class="col-md-12 field">
      <div class="job-post-list">
        <div class="field">
          <%= f.label :company, :class => "input-label" %><br>
          <%= f.collection_select(:company_id, Company.all.ordered, :id, :name_and_location, prompt: "", :class=>"input-field dropdown") %>
        </div>
        <% unless @job_post.company %>
        <div class="field add-company"><%= link_to "Don't see your company here? Add it to the list.", new_company_path %></div>
        <% end %>
        <div class="field">
          <%= f.label :title, :class => "input-label" %><br>
          <%= f.text_field :title, :class => "input-field" %>
        </div>
        <div class="field">
          <%= f.label :description, :class => "input-label" %><br>
          <%= f.text_area :description, :class => "description" %>
        </div>
        <div class="field">
          <%= f.label :experience_desired, :class => "input-label" %><br>
          <%= f.select :experience_desired, options_for_select(["Junior Developer", "Intermediate", "Senior Developer"]),
                  :include_blank => true, :class => "input-field"%>
        </div>
        <div class="field">
          <%= f.label :curriculum_id, "Which students would be most well-suited for the position?", :class => "input-label" %><br>
          <%= f.collection_select(:curriculum_id, Curriculum.all, :id, :name, prompt: "", :class=>"input-field dropdown") %>
        </div>
        <div class="field">
          <%= f.label :website, "Link to job description", :class => "input-label" %><br>
          <%= f.text_field :website, :class => "input-field" %>
        </div>
        <div class="field">
          <%= f.label :expires_on, "When should this post expire? (Posts expire after one month unless otherwise specified.)", :class => "input-label" %><br>
          <%= f.date_field :expires_on, :value => (Date.today + 1.month) %>
        </div>
        <% if @job_post.active != nil %>
          <div class="field">
            <%= f.label :active, "Is this Job Post active?", :class => "input-label" %><br>
            Yes<%= f.radio_button :active, true %>
            No<%= f.radio_button :active, false %>
          </div>
        <% end %>
      </div>
    </div>
        <div class="actions">
          <%= f.submit :class=> "btn" %>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
