<div class="container"
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- <h2>Job Posts</h2> -->




      <div class="btn-add-record-circle">

        <%= link_to '+', new_job_post_path %></div>


      <% if current_user.job_posts.count != 0 %>
        <div class="btn-add-record-align"><%= link_to 'My Job Posts', my_job_posts_path, :class=>" btn-add-record"%></div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="search-box col-med-12 well">
      <%= form_tag search_jobs_path do %>
      <%= text_field_tag "search_terms", params[:search_terms], class: "search-boxes-bar search-med search-on-left text-field input-field", placeholder: "Keyword"%>
      <%= text_field_tag "city", params[:city], class: "text-field input-field", placeholder: "City"%>
      <%= select_tag "state", options_for_select(us_states, params[:state]), prompt: "State", class: "search-state"%>
      <%= button_tag "", type: "submit", class: "glyphicon glyphicon-search job-search-boxes-bar-right search-button" %>
      <a aria-controls="collapseExample" aria-expanded="false" class="more-options job-search-boxes-bar-mid" data-toggle="collapse" href="#collapseExample">
        More options
        <!--<button type="button" class="btn btn-default btn-background">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </button>-->
      </a>

      <div class="collapse" id="collapseExample">
        <div class="list">

          <%= select_tag "company_id", options_from_collection_for_select((Company.select {|c| c.job_posts.all_active.count != 0}),
            :id, :name_and_location, params[:company_id]), prompt: "Company",
            class: "search-long search-on-left search-margin"  %>
          <%= select_tag "curriculum_id", options_from_collection_for_select(Curriculum.all,
            :id, :name, params[:curriculum_id]), prompt: "Curriculum",
            class: "search-reg search-margin" %>
          <%= select_tag :experience_desired, options_for_select(["Junior Developer", "Intermediate", "Senior Developer"],
                params[:experience_desired]), prompt: " Experience Level", class: "search-reg search-margin"%>
        </div>
        <% end %>
      </div>
    </br>
  </div>
</div>
<%= render "list" %>
</div>
</div>
