<div class="container"
<div class="container-fluid">
  <!-- <div class="row">

  </div> -->
  <div class="search-box-back">
  </div>
    <div class="col-md-12">
      <div class="jobs-header-box">


      <h2 >Job Posts</h2>

        <%= link_to 'Add New Job', new_job_post_path, :class=>"btn-add-recordjobs-btn"  %>

      <% if current_user.job_posts.count != 0 %>
          <%= link_to 'My Job Posts', my_job_posts_path, :class=>" btn-add-record jobs-btn"%>

      <% end %>
          </div>
    </div>
  </div>

  <div class="row">
    <div class="search-box col-med-12 well jobs-search ">
      <%= form_tag search_jobs_path, remote: true do %>
      <%= text_field_tag "query", params[:query], class: "job-search-boxes-bar search-on-left input-field-search", placeholder: "Search"%>
      <%= button_tag "", type: "submit", class: "glyphicon glyphicon-search search-boxes-bar-right search-button" %>
      <a aria-controls="collapseExample" aria-expanded="false" class="more-options job-search-boxes-bar-mid" data-toggle="collapse" href="#collapseExample">
        More options
        <!--<button type="button" class="btn btn-default btn-background">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </button>-->
      </a>


      <div class="collapse" id="collapseExample">
        <div class="list">
          <%= select_tag "curriculum_id", options_from_collection_for_select(Curriculum.all,
            :id, :name, params[:curriculum_id]), prompt: "Curriculum",
            class: "job-search-reg search-margin" %>
          <span class="profile-details" style="color: #727d84;">
            Junior Developer <%= radio_button_tag :experience_desired, "Junior Developer", params[:experience_desired] %>
          </span>
          <span class="profile-details" style="color: #727d84;">
            Mid-Level <%= radio_button_tag :experience_desired, "Mid-Level", params[:experience_desired] %>
          </span>
          <span class="profile-details" style="color: #727d84;">
            Senior Developer <%= radio_button_tag :experience_desired, "Senior Developer", params[:experience_desired] %>
          </span>
        </div>
        <% end %>
      </div>
    </br>
  </div>
</div>
<!-- <div id="jobs-header">

</div> -->
<div id="job-post-list">
  <%= render "job_post_list" %>
</div>
</div>
</div>
