<div class="container"
<div class="container-fluid">
  <div class="row">
    <div class="search-box col-med-12">
      <%= form_tag search_jobs_path do %>
        <%= text_field_tag "search_terms", params[:search_terms], class: "search", placeholder: "Search by Keyword"%>
        <%= text_field_tag "city", params[:city], class: "search", placeholder: "Search by City"%>
        <%= select_tag "state", options_for_select(us_states, params[:state]), prompt: "Search by State", class: "search-state"%>
        <%= select_tag "company_id", options_from_collection_for_select((Company.select {|c| c.job_posts.all_active.count != 0}),
            :id, :name_and_location, params[:company_id]), prompt: "Search by Company",
            class: "search" %>
        <%= select_tag "curriculum_id", options_from_collection_for_select(Curriculum.all,
            :id, :name, params[:curriculum_id]), prompt: "Search by Curriculum",
            class: "search" %>
        <%= select_tag :experience_desired, options_for_select(["Junior Developer", "Intermediate", "Senior Developer"],
                params[:experience_desired]), prompt: "Search by Experience Level", :class => "search"%>
        <%= button_tag "", type: "submit", class: "glyphicon glyphicon-search" %>
      <% end %>
    </div></br>
  </div>


    <h2>Job Posts</h2>
    <span><%= link_to 'New Job Post', new_job_post_path%></span>


          <% @job_posts.each do |job_post| %>
          <div class="row job ">
                <div class="col-md-6">
          <div class="job description">
            <div class="thumbnail2 ">
              <% if job_post.user.uploaded_file_file_name.nil? %>
               <div><%=link_to image_tag("default_pic.png", size: "50x50"), "users/#{job_post.user_id}" %></div>
               <% else %>
               <div> <%=link_to image_tag(job_post.user.uploaded_file(:thumb)),"users/#{job_post.user_id}"  %>
              </div>

            <% end %>
</div>
            <h3 class="job-content">Job Title <%= job_post.title %> </h3>
            <h4> <%= job_post.company.name_and_location %> </h4>
            <p>Description: <%= job_post.description %> </p>
              <p>Experience Desired: <%= job_post.experience_desired %> </p>
            <p> <%= job_post.website if job_post.website != "" %> </p>
            <h6> Last updated: <%= job_post.last_update %> </h6>
            <h6 class="footnote">Post Expires:<%= job_post.expires_on %> </h6>
            <div class="edit-delete">


            <%= link_to '<i class="glyphicon glyphicon-pencil" title="Job Post"></i>'.html_safe,
                edit_job_post_path(job_post) if job_post.user_id == current_user.id %>
            <%= link_to '<i class="glyphicon glyphicon-remove" title="Delete"></i>'.html_safe,
                job_post, method: :delete, data: { confirm: 'Are you sure?' } if job_post.user_id == current_user.id %>
              </div>
          </div>
        </div>
        <!-- <div class="col-md-1">
        </div>
        <div class="col-md-5">
        </div> -->

      <!-- </br> -->

    <% end %>
    </div>
</div>
</div>
