<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h2 class="jobs-head-text">Job Posts</h2>
      <a href="#new-job-post" data-toggle="modal" aria-hidden="true">
        <button class="fa fa-plus fa-lg btn-add-record-long-jobs" data-toggle = "tooltip" data-placement = "left" title="Add New" aria-hidden="true"></button>
      </a>
      <div id="new-job-post" class="modal fade">
        <%= render 'form' %>
      </div>
      <div class="well">
        <%= form_tag search_jobs_path, remote: true do %>
          <%= text_field_tag "query", params[:query], class: "input-field-search-jobs", placeholder: "Search"%>
          <%= button_tag "", type: "submit", class: "glyphicon glyphicon-search search-boxes-bar-right search-button" %>
          <a class="more-options search-boxes-bar-more" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              More options
          </a>
          <div class="collapse" id="collapseExample">
            <div class="list">
              <%= select_tag "curriculum_id", options_from_collection_for_select(Curriculum.all,
                  :id, :name, params[:curriculum_id]), prompt: "Curriculum",
                  class: "job-search-reg search-margin" %>
              <span class="profile-details-checkbox" style="color: #727d84;">
                Junior Developer <%= radio_button_tag :experience_desired, "Junior Developer", params[:experience_desired] %>
              </span>
              <span class="profile-details-checkbox-left" style="color: #727d84;">
                Mid-Level <%= radio_button_tag :experience_desired, "Mid-Level", params[:experience_desired] %>
              </span>
              <span class="profile-details-checkbox-left" style="color: #727d84;">
                Senior Developer <%= radio_button_tag :experience_desired, "Senior Developer", params[:experience_desired] %>
              </span>
            </div>
          </div>
        <% end %>
      </div>
      <div id="job-post-list">
        <%= render "job_post_list" %>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
