<%= form_for(curriculum) do |f| %>
  <div class="row form-val">
    <%= render "shared/error_messages", :target => curriculum %>
  </div>

  <div class="field">
     <%= f.label "Course Title" ,:class => "input-label"%><br>
     <%= f.text_field :name,  :class => "input-field" %>
  </div>
  <br/>
  <div class="field">
     <%= f.label :"Abbreviated Title", :class => "input-label"%><br>
     <%= f.text_field :nickname,  :class => "input-field" %>
  </div>

  <div class="actions">
    <%= f.submit 'Save Curriculum', :class=> "btn new-campus" %>
  </div>
<% end %>
