<%= form_for(@curriculum) do |f| %>
  <div class="row form-val">
    <%= render "shared/error_messages", :target => @curriculum %>
  </div>

  <div class="field">
    <%= f.label :name, "Course Title" ,:class => "input-label"%><br>
    <%= f.text_field :name,  :class => "input-field" %>
  </div>
  <div class="field">
    <%= f.label :nickname, "Abbreviated Title", :class => "input-label"%><br>
    <%= f.text_field :nickname,  :class => "input-field" %>
  </div>

  <div class="actions">
      <%= f.submit :class=> "btn ctr-btn", :value => 'Add New Curricula' %>
  </div>
<% end %>
