<div class = "container-fluid">
  <h2>Curricula</h2>
  <div class = "row">
    <div class = "col-md-3"></div>
    <div class = "col-md-6">
      <div class = "table-responsive">
        <table class = "table table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @curricula.each do |curriculum| %>
              <tr>
                <td><%= curriculum.name %></td>
                <td><%= link_to "Edit", "mobile-friendly-page.html", "data-mfp-src" => "#edit-curriculum#{curriculum.id}", class: "open-popup-link edit-curriculum" %>
                   <div id="edit-curriculum<%="#{curriculum.id}" %>" class="white-popup mfp-hide">
                      <h2>Edit Curriculum</h2>
                      <%= render partial: 'edit_form', locals: { curriculum: curriculum } %>
                   </div>
                </td>  
                <td><%= link_to 'Delete', curriculum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>
      
      
      <a href="mobile-friendly-page.html" data-mfp-src="#new-curriculum" class="open-popup-link new-curriculum"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      <div id="new-curriculum" class="white-popup mfp-hide">
        <h2>Add New Curriculum</h2>
      
        <%= render 'form' %>
      </div>
    </div>
    <div class = "col-md-3"></div>
  </div>
</div>
<!--<%= link_to 'New Curriculum', new_curriculum_path %>-->
