<%= form_for(@campus) do |f| %>
  <% if @campus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campus.errors.count, "error") %> prohibited this campus from being saved:</h2>

      <ul>
      <% @campus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.select :state, options_for_select(us_states), :include_blank => true, :class => "input-field" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
