<%= form_for(@campus) do |f| %>
  <% if @campus.errors.any? %>
    <div id="error_explanation">
      <h4 class="form-val"><%= pluralize(@campus.errors.count, "error") %> prohibited this campus from being saved:</h4>

      <ul class="error">
      <% @campus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city, :class => "input-label" %><br>
    <%= f.text_field :city, :class => "input-field" %>
  </div>
  <div class="field">
    <%= f.label :state, :class => "input-label" %><br>
    <%= f.select :state, options_for_select(us_states), :include_blank => true, :class => "input-field" %>
  </div>
  <div class="actions">
    <%= f.submit 'Add New Campus', :class=> "btn" %>
  </div>
<% end %>
