<%= form_for(@campus) do |f| %>
  <div class="row form-val">
    <%= render "shared/error_messages", :target => @campus %>
  </div>

  <div class="field">
    <%= f.label :city, :class => "input-label" %><br>
    <%= f.text_field :city, :class => "input-field" %>
  </div>
  <div class="field">
    <%= f.label :state, :class => "input-label" %><br>
    <%= f.select :state, options_for_select(us_states), :include_blank => true, :class => "input-field search" %>
  </div>

  <div class="actions">
    <%= f.submit 'Save Campus', :class=> "btn new-campus" %>
  </div>
<% end %>
