<%= form_for(course) do |f| %>
  <div class="row form-val">
    <%= render "shared/error_messages", :target => course %>
  </div>

  <div class="field">
    <%= f.label :started_on, :class => "input-label" %><br>
    <%= f.date_field :started_on, :class => "input-field" %>
  </div>
  <div class="field">
    <%= f.label :ended_on, :class => "input-label" %><br>
    <%= f.date_field :ended_on,:class => "input-field" %>
  </div>
  <div class="field">
    <%= f.label :campus, :class => "input-label" %><br>
    <%= f.collection_select(:campus_id, Campus.all, :id, :long_name, prompt: "") %>
  </div>
  <div class="field">
    <%= f.label :curriculum, :class => "input-label" %><br>
    <%= f.collection_select(:curriculum_id, Curriculum.all, :id, :name, prompt: "") %>
  </div>

  <div class="actions">
    <%= f.submit 'Save Course', :class=> "btn new-course" %>
  </div>

<% end %>
