<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :started_on %><br>
    <%= f.date_select :started_on %>
  </div>
  <div class="field">
    <%= f.label :ended_on %><br>
    <%= f.date_select :ended_on %>
  </div>
  <div class="field">
    <%= f.label :campus_id %><br>
    <%= f.number_field :campus_id %>
  </div>
  <div class="field">
    <%= f.label :curriculum_id %><br>
    <%= f.number_field :curriculum_id %>
  </div>
  <div class="field">
    <%= f.label :cohort %><br>
    <%= f.number_field :cohort %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
