<div class="container-fluid course-form">
  <div class="row form-val">
    <%= form_for(@course) do |f| %>
    <% if @course.errors.any? %>
    <div id="error_explanation">
      <h4 class="form-val"><%= pluralize(@course.errors.count, "error") %>
        prohibited this course from being saved:</h4>

      <ul class="error">
        <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
  <div class="row new-user-form">
    <div class="col-md-4 label-column"></div>
    <div class="col-md-4 label-column">
      <div class="field">
        <%= f.label :started_on, :class => "input-label" %><br>
        <%= f.date_field :started_on, :class => "input-field" %>
      </div>
      <div class="field">
        <%= f.label :ended_on, :class => "input-label" %><br>
        <%= f.date_field :ended_on,:class => "input-field" %>
      </div>
      <div class="field">
        <%= f.label :campus, :class => "input-label" %><br>
        <%= f.collection_select(:campus_id, Campus.all, :id, :long_name, prompt: "") %>
      </div>
      <div class="field">
        <%= f.label :curriculum, :class => "input-label" %><br>
        <%= f.collection_select(:curriculum_id, Curriculum.all, :id, :name, prompt: "") %>
      </div>
      <div class="field">
        <%= f.label :cohort, :class => "input-label" %><br>
        <%= f.number_field :cohort, :class => "input-field", min: 1 %>
      </div>
    </div>
  </div>

      <!--<%= f.fields_for :users do |ff| %><br>
      <div class="field">
        <%= ff.label :first_name, :class => "input-label" %>
        <%= ff.text_field :first_name, :class => "input-field" %>
      </div>
      <div class="field">
        <%= ff.label :last_name, :class => "input-label" %>
        <%= ff.text_field :last_name,:class => "input-field" %>
      </div>
      <div class="field">
        <%= ff.label :email, :class => "input-label" %>
        <%= ff.text_field :email, :class => "input-field" %>
      </div>
    </div>
    <div class="col-md-4 label-column"></div>
  </div>
    <% end %>-->

  <div class="row new-user-form">
    <div class="col-md-12 label-column">
      <div class="actions">
        <%= f.submit :class=> "btn ctr-btn", :value => 'Add New Course' %>
      </div>
    </div>
  </div>
  <% end %>

</div>
