<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :started_on %><br>
    <%= f.date_field :started_on %>
  </div>
  <div class="field">
    <%= f.label :ended_on %><br>
    <%= f.date_field :ended_on %>
  </div>
  <div class="field">
    <%= f.label :campus %><br>
    <%= f.collection_select(:campus_id, Campus.all, :id, :long_name, prompt: "") %>
  </div>
  <div class="field">
    <%= f.label :curriculum %><br>
    <%= f.collection_select(:curriculum_id, Curriculum.all, :id, :name, prompt: "") %>
  </div>
  <div class="field">
    <%= f.label :cohort %><br>
    <%= f.number_field :cohort %>
  </div>

    <%= f.fields_for :users do |ff| %><br>
      <div class="field">
        <%= ff.label :first_name %>
        <%= ff.text_field :first_name %>
      </div>
      <div class="field">
        <%= ff.label :last_name %>
        <%= ff.text_field :last_name %>
      </div>
      <div class="field">
        <%= ff.label :email, :class => "input-label" %>
        <%= ff.text_field :email, :class => "input-field" %>
      </div>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
