<h2 id="heading" >Add New Course for <%= @campus.short_name %></h2>





<%= render 'form' %>

<%= link_to 'New Campus', new_campus_path %>
<%= link_to 'New Curriculum', new_curriculum_path %>
<%= link_to 'Back', courses_path %>
