
<div class="container-fluid">
adfadf
  <div class="row new-user-form">
  <!-- <div class="col-md-4"></div> -->
  <div class="col-md-4 label-column"></div>
    <div class="col-md-4 label-column">

<p>
  <strong class="label-field ">Started on:</strong>
  <%= @course.start_date, :class=>"input-field" %>
</p>

<p>
  <strong class="label-field">Ended on:</strong>
  <%= @course.end_date, :class=>"input-field" %>
</p>

<p>
  <strong class="label-field">Campus:</strong>
  <%= @course.campus_long, :class=>"input-field"%>
</p>

<p>
  <strong class="label-field">Curriculum:</strong>
  <%= @course.curric_name, :class=>"input-field" %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @course.cohort, :class=>"input-field" %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
</div>
  <div class="col-md-4"></div>

</div>
</div>
