<!DOCTYPE html>
<html>

<head>
  <title>Forge</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
</head>

<body>
  <div class="fixed-nav-bar">
    <div class="logo-cont">
      <%= link_to image_tag("TIY-logo-500px.png", alt: "logo", class: "tiy"), root_path %>
    </div>
    <% if user_signed_in? %>
      <ul class="nav-links" id = "nav-links">
        <!--<%= link_to 'Home', root_path, class: "nav" %>-->
        <li><%= link_to 'Alumni Directory', users_path, class: "nav-ind" %></li>
        <li><%= link_to 'Resources', resources_path, class: "nav-ind" %></li>
        <li><%= link_to 'Jobs', job_posts_path, class: "nav-ind" %></li>
        <li><%= link_to 'Events', events_path, class: "nav-ind" %></li>
        <% if current_user.is_cd %>
          <div class = "admin-header nav-ind">
            <div class="dropdown">
              <div class="dropdown-toggle" type="text"
               id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="true">
                Admin
               <span class="caret"></span>
              </div>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <li><%= link_to 'New User', new_user_path %></li>
                <li><%= link_to 'Campuses', campuses_path %></li>
                <li><%= link_to 'Courses', courses_path %></li>
                <li><%= link_to 'Curriculum', curricula_path %></li>
              </ul>
            </div>
          </div>
        <% end %>
      </ul>

      <div class = "header-text">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button"
            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            <%= current_user.first_name%>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li><%= link_to 'My Account', user_path(current_user) %></li>
            <li><a href="#">Another action</a></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class=>"logout" %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="top-header" id="notice">
    <%= render 'layouts/notice' %>
  </div>
    <%= yield %>
</body>

</html>
