<!DOCTYPE html>
<html>

<head>
  <title>Forge</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
</head>

<body>
      <div class="fixed-nav-bar">
        <div class="logo-cont">
          <%= image_tag "TIY-logo-500px.png", alt: "logo", class: "tiy" %>
        </div>
          <% if user_signed_in? %>
        <div class="nav-links">
          <%= link_to 'Alumni Directory', users_path, :class=>"nav" %>
        </div>
        <div class = "header-text">
          <div class="dropdown">
                <button class="btn-default dropdown-toggle" type="button"
                  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="true">
                      <%= current_user.first_name%>
                      <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                      <li><%= link_to 'View Profile', user_path(current_user) %></li>
                      <li><a href="#">Another action</a></li>
                      <li><div class = "logout-btn"> <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class=>"logout" %> </div></li>
                </ul>
          </div>


        </div>
          <% end %>
      </div>


    <div class="top-header">
       <p class="notice"><%= notice %></p>
      <%= yield %>
    </div>
</body>

</html>
